* {
  margin: 0;
  padding: 0;
}
.sb-popup {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
}
.sb-container {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  padding: 60px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}
.sb-close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.sb-icon-wrapper {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #2a2e3b;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.sb-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 80%;
  min-height: 340px;
  max-height: 600px;
  box-sizing: border-box;
}
.sb-phone {
  height: 100%;
  box-sizing: border-box;
}

.sb-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  max-width: 850px;
  height: 100%;
  max-height: 800px;
  box-sizing: border-box;
}

.sb-h1 {
  font-size: 54px;
  font-weight: 500;
  color: #597960;
  line-height: 1.2;
  box-sizing: border-box;
}
.sb-bold {
  font-weight: 700;
}
.sb-p-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 140px;
    box-sizing: border-box;
}
.sb-p {
  font-size: 24px;
  font-weight: 400;
  color: #597960;
  box-sizing: border-box;
}

.sb-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  min-height: 340px;
}
.sb-form-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sb-label {
  color: #3a5534;
  font-size: 16;
  font-weight: 400;
  box-sizing: border-box;
}
.sb-input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid #dcdce0;
  box-sizing: border-box;
  outline: none;
}
.sb-input:focus {
  border: 1px solid #dc6929;
}
.sb-input::-webkit-input-placeholder {
  /* Edge */
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-input::placeholder {
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-form-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.sb-btn {
  outline: none;
  padding: 16px 0;
  width: 160px;
  background-color: #dc6929;
  border: 1px solid #dc6929;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 500;
  border-radius: 6px;
}
.sb-btn:hover {
  background-color: transparent;
  border: 1px solid #dc6929;
  color: #dc6929;
}
