* {
  margin: 0;
  padding: 0;
}

/* contact-popup */
.sb-popup {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .sb-popup {
    height: auto;
  }
}
.sb-container {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  padding: 60px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .sb-container {
    padding: 60px;
  }
}
@media (max-width: 530px) {
  .sb-container {
    padding: 60px 30px;
  }
}
@media (max-width: 768px) {
  .sb-container {
    flex-direction: column;
  }
}
.sb-close-icon {
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 30px;
  box-sizing: border-box;
  cursor: pointer;
}

.sb-icon-wrapper {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #2a2e3b;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.sb-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 80%;
  min-height: 340px;
  max-height: 600px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .sb-img-container {
    height: 200px;
    min-height: 200px;
  }
}
@media (max-width: 530px) {
  .sb-img-container {
    height: 150px;
    min-height: 150px;
  }
}
.sb-phone {
  height: 100%;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .sb-phone {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .sb-phone {
    height: 200px;
  }
}
@media (max-width: 530px) {
  .sb-phone {
    height: 150px;
  }
}
.sb-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  max-width: 850px;
  height: 100%;
  max-height: 700px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .sb-content-container {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 530px) {
  .sb-content-container {
    margin-top: 20px;
  }
}

.sb-h1 {
  font-size: 54px;
  font-weight: 500;
  color: #597960;
  line-height: 1.2;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .sb-h1 {
    margin-top: 20px;
  }
}
@media (max-width: 530px) {
  .sb-h1 {
    font-size: 32px;
  }
}
.sb-bold {
  font-weight: 700;
}
.sb-p-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .sb-p-wrapper {
    min-height: auto;
    height: auto;
    margin-top: 20px;
  }
}
.sb-p {
  font-size: 24px;
  font-weight: 400;
  color: #597960;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .sb-p {
    margin-top: 10px;
  }
}
@media (max-width: 530px) {
  .sb-p {
    font-size: 18px;
  }
}

.sb-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  min-height: 340px;
}
@media (max-width: 768px) {
  .sb-form {
    margin-top: 30px;
  }
}
.sb-form-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sb-label {
  color: #3a5534;
  font-size: 16;
  font-weight: 400;
  box-sizing: border-box;
}
.sb-input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid #dcdce0;
  box-sizing: border-box;
  outline: none;
}
@media (max-width: 530px) {
  .sb-input {
    padding: 0 10px;
  }
}
.sb-input:focus {
  border: 1px solid #dc6929;
}
.sb-input::-webkit-input-placeholder {
  /* Edge */
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-input::placeholder {
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-form-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.sb-btn {
  outline: none;
  padding: 16px 20px;
  background-color: #dc6929;
  border: 1px solid #dc6929;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 500;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .sb-btn {
    width: 100%;
  }
}
@media (max-width: 530px) {
  .sb-btn {
    padding: 10px;
  }
}
.sb-btn:hover {
  background-color: transparent;
  border: 1px solid #dc6929;
  color: #dc6929;
}

/* worth-score-popup */
.sb-worth-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  box-sizing: border-box;
}
.sb-worth-score {
  width: 80%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .sb-worth-score {
    width: 100%;
    box-sizing: border-box;
  }
}
.sb-worth-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: auto;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .sb-worth-content-container {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 530px) {
  .sb-worth-content-container {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .sb-reverse {
    flex-direction: column-reverse;
  }
}
.sb-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .sb-button-container {
    flex-direction: column-reverse;
  }
}
.sb-btn {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .sb-btn {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
.sb-basic-btn {
  border: 1px solid transparent;
  outline: none;
  padding: 16px 20px;
  background-color: transparent;
  cursor: pointer;
  color: #3a5534;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .sb-basic-btn {
    width: 100%;
  }
}
.sb-basic-btn:hover {
  color: #dc6929;
}
.height-auto {
  height: auto !important;
  min-height: auto !important;
}
.mt-30 {
  margin-top: 30px;
}
.sb-worth-h1 {
  font-size: 36px;
  font-weight: 500;
  color: #597960;
  line-height: 1.2;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .sb-worth-h1 {
    margin-top: 30px;
  }
}
@media (max-width: 530px) {
  .sb-worth-h1 {
    font-size: 32px;
  }
}

/* sale-popup */
.sb-sale-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .sb-sale-container {
   flex-direction: column;
  }
}

.sb-discount-container {
  width: 40%;
  min-width: 420px;
  background-image: url("./assets/discount-bg.png");
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
@media (max-width: 1280px) {
  .sb-discount-container {
    zoom: .8;
  }
}
@media (max-width: 768px) {
  .sb-discount-container {
   width: 100%;
   padding: 40px 0;
  }
}
@media (max-width: 530px) {
  .sb-discount-container {
    zoom: .6;
  }
}
.sb-discount-header {
  display: flex;
  flex-direction: column;
}
.sb-light-header {
  font-size: 110px;
  font-weight: 300;
  line-height: 105px;
  letter-spacing: 3.4px;
}
.sb-strong-header {
  font-size: 140px;
  font-weight: 700;
  line-height: 125px;
}
.sb-discount-amount {
  margin-top: 40px;
}
.sb-discount {
  font-size: 80px;
  font-weight: 600;
}

.sb-sale-content-container {
  width: 60%;
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .sb-sale-content-container {
   width: 100%;
  }
}
.sb-sale-wrapper {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 0;
}
@media (max-width: 768px) {
  .sb-sale-wrapper {
   width: 100%;
   padding: 20px;
  }
}
.sb-sale-h1 {
  font-size: 36px;
  font-weight: 500;
  color: #597960;
  line-height: 1.2;
  box-sizing: border-box;
}
@media (max-width: 530px) {
  .sb-worth-h1 {
    font-size: 32px;
  }
}

.sb-center{
  text-align: center;
}
.sb-list {
  margin-top: 40px;
}
.sb-ul{
  margin-bottom: 30px;
}
.sb-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.sb-list-num {
  color: #597960;
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
}
.sb-w-100{
  width: 100% !important;
}
.sb-m-0{
  margin: 0 !important
}
.sb-warning{
  margin-top: 60px;
}