* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l-bg {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/bg-1.png");
  background-position: center;
  background-size: cover;
  /* padding: 100px 0px; */
}
@media (max-width: 768px) {
  .l-bg {
    height: auto;
  }
}
.l-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px 20px 10px;
}
@media (max-width: 1024px) {
  .l-main {
    /* padding: 150px 30px 40px; */
    height: auto;
  }
}
@media (max-width: 768px) {
  .l-main {
    padding: 180px 30px 10px;
    height: auto;
  }
}
@media (max-width: 530px) {
  .l-main {
    padding: 160px 30px 10px;
  }
}
.l-logo-wrapper {
  position: absolute;
  top: 50px;
  left: 50px;
}

.l-logo {
  width: 170px;
}

.l-content {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .l-main {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .l-content {
    flex-direction: column;
  }
}

.l-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 55%;
}
@media (max-width: 768px) {
  .l-info {
    width: 100%;
    margin-bottom: 80px;
  }
}
@media (max-width: 550px) {
  .l-info {
    margin-bottom: 30px;
  }
}
.l-frame {
  position: absolute;
}
@media (max-width: 1024px) {
  .l-frame {
    display: none;
  }
}
@media (max-width: 768px) {
  .l-frame {
    display: block;
  }
}
@media (max-width: 550px) {
  .l-frame {
    display: none;
  }
}
.l-frame-img {
  width: 100%;
}
@media (max-width: 1325px) {
  .l-frame-img {
    width: 560px;
  }
}
@media (max-width: 768px) {
  .l-frame-img {
    width: 493px;
  }
}
.l-box {
  padding: 20px 40px;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.308);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1325px) {
  .l-box {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1024px) {
  .l-box {
    padding: 20px;
    width: 100%;
    height: 400px;
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .l-box {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 550px) {
  .l-box {
    width: 100%;
    height: 280px;
    padding: 20px;
    justify-content: space-evenly;
  }
}
.l-item {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
}
.l-item:last-child {
  margin-bottom: 0;
}
.l-check-wrapper {
  margin-right: 10px;
}
.l-p {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 768px) {
  .l-p {
    font-size: 22px;
  }
}
.l-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 45%;
  height: 100%;
  max-height: 820px;
}
@media (max-width: 1024px) {
  .l-form-wrapper {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .l-form-wrapper {
    width: 100%;
    height: 750px;
    padding: 0;
    margin-left: 0;
  }
}
.l-form-box {
  padding: 55px;
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.459);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .l-form-box {
    padding: 30px 20px;
  }
}
@media (max-width: 768px) {
  .l-form-box {
    width: 100%;
  }
}
.l-h2 {
  margin-bottom: 30px;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .l-h2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .l-h2 {
    margin-bottom: 15px;
  }
}
.sb-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  box-sizing: border-box;
  height: 100%;  
}
@media (max-width: 768px) {
  .sb-form {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
  }
}
.sb-form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.sb-form-item:last-child {
  margin-bottom: 0;
}
.sb-label {
  color: #ffffff;
  font-size: 16;
  font-weight: 400;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.sb-input-area {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid #dcdce0;
  box-sizing: border-box;
  outline: none;
}
.sb-input-area:focus {
  border: 2px solid #28bf1f;
}
.sb-input-area::-webkit-input-placeholder {
  /* Edge */
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-input-area:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-input-area::placeholder {
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-radius: 6px;
  border: 2px solid #dcdce0;
  box-sizing: border-box;
  outline: none;
}
@media (max-width: 530px) {
  .sb-input {
    padding: 0 10px;
  }
}
.sb-input:focus {
  border: 2px solid #28bf1f;
}
.sb-input::-webkit-input-placeholder {
  /* Edge */
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-input::placeholder {
  color: #9797a5;
  font-size: 16px;
  font-weight: 400;
}
.sb-form-button {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.sb-btn {
  width: 100%;
  outline: none;
  padding: 16px 20px;
  background-color: #28bf1f;
  border: 1px solid #28bf1f;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 500;
  border-radius: 6px;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .sb-btn {
    width: 100%;
  }
}
@media (max-width: 530px) {
  .sb-btn {
    padding: 10px;
  }
}
.sb-btn:hover {
  background-color: transparent;
  border: 1px solid #28bf1f;
  color: #28bf1f;
}
.l-exp {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-exp-p {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 768px) {
  .l-exp-p {
    font-size: 20px;
    margin-top: 20px;
  }
}
